<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="XYZbankingEndtoEnd" parallel="classes">

    <!-- Attach your listener here -->
    <listeners>
        <listener class-name="listners.MyEventListner" />
    </listeners>

    <test name="CustomerLoginTest">
        <classes>
            <class name="tests.T001_customerLoginTest" />
            <class name="tests.T002_accountCreationTest"></class>
        </classes>
    </test>

</suite>
